.cal-heatmap-container rect.highlight-now {
    stroke: black
}

.ok {
    color: #4CAF50;
    user-select: none;
}

.err {
    color: #DD2C00;
    user-select: none;
}

.ok::after {
    content: "◾";
}

.err::after {
    content: "◾";
}

.navbtn {
    line-height: 135px;
    height: 135px;
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
    user-select: none;
}

.heatmap {
    display: inline-block;
    margin-bottom: 0.2rem;
    user-select: none;
}

.card .card-content {
    padding: 12px;
}

.btn-flat {
    box-shadow: 0 0 1px 0 grey;
}

.h_23 .graph-label, .h_0 .graph-label, .h_1 .graph-label, .h_2 .graph-label, .h_3 .graph-label, .h_4 .graph-label, .h_5 .graph-label, .h_6 .graph-label, .h_7 .graph-label {
    stroke: red;
}